@model IEnumerable<Emprestimosmodel>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Recebedor</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Livro</th>
            <th scope="col">Útima Atualização</th>
        </tr>
    </thead>
    <tbody>

        @if(Model!=null)
        {
			@foreach (var emprestimo in Model)
			{
                <tr>


                    <th scope="row">@emprestimo.Recebedor</th>
                    <td>@emprestimo.Fornecedor</td>
                    <td>@emprestimo.Livro</td>
                    <td>@emprestimo.DataUtimautilizacao</td>
                </tr>
			}
           
        }
      
    </tbody>
</table>